# Aktifkan URL rewriting
Options +FollowSymLinks
RewriteEngine On

# Tentukan file utama yang dibuka saat akses folder
DirectoryIndex index.php index.html index.htm

# Redirect halaman error ke halaman lokal (jika kamu punya file-nya)
# Jika belum punya, baris ini bisa dihapus sementara

# ErrorDocument 403 /403.html
# ErrorDocument 404 /404.html
